.project-item {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #051e4937;
  width: 1000px;

  &__left {
    display: flex;
    flex-direction: column;
    &--top {
      display: flex;
      align-items: center;
    }
    &--icon {
      width: 60px;
      height: 60px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      font-weight: 500;
      color: #ffffff;
      margin-right: 10px;
      flex-shrink: 0;
    }
    &--name {
      font-size: 26px;
      color: rgba(42, 41, 41, 0.838);
      font-weight: 500;
    }
    &--description {
      margin: 20px 0 12px;
      font-size: 14px;
    }
  }
  &__right {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
  }
}
