@if(board$|async ; as board){
<div class="board--container">
  <div class="board--container__left">
    <div class="board--container__left--title">{{ board.name }}</div>
    <div class="board--container__left--created">
      {{ board.createdAt | date : "MMM d/ y" }}
    </div>
  </div>
  <div class="board--container__right">
    <div class="board--container__right--button">
      <button mat-raised-button (click)="delete(board.id)">
        Delete
      </button>
    </div>
  </div>
</div>
<div>
  <div class="columns-container" cdkDropListGroup>
    @for (column of board.columns; track column) {
    <div
      class="column"
      cdkDropList
      [cdkDropListData]="tasks"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="column-header">
        <span class="column-name">{{ column.name }}</span>
      </div>
      <div class="tasks">
        @for (task of tasks; track task) {
        <div class="task" cdkDrag [cdkDragData]="task">
          {{ task.name }}
          <div class="placeholder" *cdkDragPlaceholder></div>
          <div class="preview" *cdkDragPreview>{{ task.name }}</div>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
}
