.board--container {
  border-bottom: 1px solid #051e4937;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__left {
    width: 900px;
    text-transform: capitalize;
    padding: 0 0 10px 15px;
    &--title {
      font-size: 33px;
      color: rgba(42, 41, 41, 0.9);
      font-weight: 600;
    }
    &--created {
      font-size: 14px;
      font-style: italic;
      color: rgb(175, 175, 175);
      font-weight: 500;
      margin-top: 6px;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.columns-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 20px;
}

.column {
  flex: 0 0 250px; /* Ensure fixed width for columns */
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 10px;
}


.column-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.column-name {
  font-weight: bold;
  font-size: 16px;
}

// .tasks {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   margin-top: 5px;
// }

// .task {
//   background-color: #ffffff;
//   border: 1px solid #dddddd;
//   border-radius: 4px;
//   padding: 10px;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
// }
// .placeholder {
//   border-radius: 4px;
//   background-color: rgb(194, 194, 197);
//   height: 50px;
//   border: 1px dashed;
// }


