<div class="boards-container">
  <div class="boards-container__header">
    <div class="boards-container__header--image">
      <img src="/images/user.png" />
    </div>
    <div class="boards-container__header--title">Your project boards</div>
  </div>
  <div class="board-item">

    @for(board of boards$|async ; track board.id){
    <app-board-item
      [name]="board.name"
      matTooltip="See details"
      matTooltipClass="custom-tooltip"
      matTooltipPosition="below"
      matTooltipShowDelay="50"
      [routerLink]="['/home/mainContent/boards', board.projectId, 'board', board.id]"
      >
    </app-board-item>
    }
    <div class="add-board" (click)="createBoard()">
      <img src="/images/plus-sign.png" />
      <span>Create new board </span>
    </div>
  </div>


</div>
