.table-container {
  padding: 2rem;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
.nousers {
  color: rgb(66, 65, 65);
  text-align: center;
  padding-top: 15px;
}

.head {
  margin-top: 20px;
}
.actions {
  padding-left: 90px;
}
