.boards {
  &__title {
    font-size: 25px;
    color: rgba(42, 41, 41, 0.838);
    font-weight: 500;
    margin-top: 60px;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 45px;
  }
  .no-boards-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;

  &__no-boards {
    text-align: center;
    font-size: 20px;
    color: grey;
  }}
}
