<section class="banner">
  <div class="banner-content">
      <h1>Organize Your Work with TaskManager</h1>
      <p>Efficient task management for individuals and teams</p>
      <a routerLink="auth" class="btn">Login</a>
  </div>
</section>
<section class="about">
  <h2>What is TaskManager?</h2>
  <p>TaskManager helps you stay on top of your tasks with ease and efficiency. Designed for both personal and team use, it provides a seamless experience to enhance your productivity.</p>
</section>
<section class="features">
  <h2>Features</h2>
  <div class="feature-cards">
      <div class="feature-card">
          <h3><i class="fas fa-user-friends"></i> User-Friendly</h3>
          <p>Intuitive interface for all users</p>
      </div>
      <div class="feature-card">
          <h3><i class="fas fa-users"></i> Team Collaboration</h3>
          <p>Easily share and manage tasks</p>
      </div>
      <div class="feature-card">
          <h3><i class="fas fa-lock"></i> High Security</h3>
          <p>Keep your data protected</p>
      </div>
  </div>
</section>
<section class="cta">
  <h2>Get Started with TaskManager Today!</h2>
  <p>Join thousands of users who boost their productivity with TaskManager.</p>
  <a routerLink="/auth/register" class="btn-signup">Sign Up Now</a>
</section>
