.project-card {
  border-radius: 8px;
  background-color: rgba(123, 151, 135, 0.722);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 240px;
  width: 180px;
  margin-left: 10px;

  &:hover {
    transform: translate(2px, -9px);
    box-shadow: 20;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2560d5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #edebeb;
    margin-right: 20px;
  }
  &__name {
    margin-top: 35px;
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
    color: rgb(21, 41, 80);
    font-weight: bold;
  }
}
