.header {
  border-bottom: 1px solid #051e4937;
  width: 900px;
  text-transform: capitalize;
  display: flex;
  gap: 13px;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 25px;
  margin: 0 auto;
  &__title {
    font-size: 25px;
    color: rgba(42, 41, 41, 0.838);
    font-weight: 500;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  img {
    width: 22px;
    height: 24px;
  }
  button {
    background-color: #0d1741b7;
    font-size: 15px;
    color: rgb(246, 246, 246);
    border-radius: 4px;
    :hover {
      color: white;
    }
  }
}
